<h1 class="text-primary text-center m-5">Template Driven Forms</h1>


<div class="row">
    <div class="col-5 px-5">
        <form name="form" #templateForm="ngForm">
            <div class="row mb-3 d-flex">
                <label for="name" class="col-form-label fw-bold fs-5 col-3">{{ lblFname }}</label>
                <input type="text" name="fname" id="fname" placeholder="Enter First Name" class="col-9"
                    pattern="^[a-zA-Z]+$" minlength="3" required ngModel #fname="ngModel">
                    <span *ngIf="fname.touched && !fname.valid" style="color: red;margin-left: 23%;">Please Enter Valid
                        First
                        Name</span>
            </div>

            <div class="row mb-3 d-flex">
                <label for="name" class="col-form-label fw-bold fs-5 col-3">{{ lblLname }}</label>
                <input type="text" name="lname" id="lname" placeholder="Enter Last Name" pattern="^[a-zA-Z]+$"
                    class="col-9" minlength="3" required ngModel #lname="ngModel">
                <span *ngIf="lname.touched && !lname.valid" style="color: red;margin-left: 23%;">Please Enter Valid Last
                    Name</span>
            </div>

            <div class="d-flex">
                <label for="name" class="col-form-label fw-bold fs-5 col-3 mt-3">Gender :</label>
                <div class="form-check my-3">
                    <a>
                        <input class="form-check-input" type="radio" name="gender" value="male" required ngModel
                            #gender="ngModel" id="male">
                        <label class="form-check-label me-3" for="male">
                            Male
                        </label>
                    </a>
                </div>
                <div class="form-check my-3">
                    <a>
                        <input class="form-check-input" type="radio" name="gender" value="female" required ngModel
                            #gender="ngModel" id="female">
                        <label class="form-check-label" for="female">
                            Female
                        </label>
                    </a>
                </div>
            </div>
            <span *ngIf="gender.touched && !gender.valid" style="color: red;margin-left:24%;">Please Checked
                Gender</span>


            <div ngModelGroup="address" #address="ngModelGroup">

                <div class="row mb-3 d-flex">
                    <label for="name" class="col-form-label fw-bold fs-5 col-3 ">{{ lblcountry }}</label>
                    <select placeholder="Phantasyland" (change)="changeCountry($event)" class="form-select col-8"
                        aria-label="Default select example" name="country" id="country" class="col-8" required
                        #country="ngModel" [ngModel]="address">
                        <option selected>Select Your Country</option>
                        <!-- <option *ngFor="let count of countryList">{{count.name}} </option> -->
                        <option *ngFor="let state of countryy" [value]="state.id">{{state.name}}</option>

                    </select>

                    <span *ngIf="country.touched && country.pristine" style="color: red;margin-left: 23%;">Please Select
                        Country</span>
                </div>

                <div class="row mb-3 d-flex">
                    <label for="name" class="col-form-label fw-bold fs-5 col-3 ">{{ lblstate }}</label>
                    <select class="form-select col-8" aria-label="Default select example" class="col-8" name="state"
                        id="state" required  #state="ngModel" [ngModel]="address" (change)="changeState($event)">
                        <option selected [ngValue]="null">Select Your State</option>
                        <!-- <option *ngFor="let city of state">{{city}} </option> -->
                        <option *ngFor="let city of states" [value]="city.id">{{city.name}}</option>
                        

                    </select>
                    <span *ngIf="state.touched && state.pristine" style="color: red;margin-left: 23%;">Please Select
                        State</span>

                    <span *ngIf="country.untouched && state.touched" style="color: red;margin-left: 23%;">Please Select
                        Country First
                    </span>
                </div>

                <div class="row mb-3 d-flex">
                    <label for="name" class="col-form-label fw-bold fs-5 col-3">{{lblcity}} </label>
                    <select class="form-select" aria-label="Default select example" class="col-8" name="city" id="city"
                        required ngModel #city="ngModel" [ngModel]="address">
                        <option selected [ngValue]="null">Select Your City</option>
                        <!-- <option *ngFor="let c of cities">{{ c }}</option> -->
                        <option *ngFor="let city of cities" [value]="city.name">{{city.name}}</option>

                    </select>

                    <span *ngIf="(city.touched && city.pristine)" style="color: red;margin-left: 23%;">Please Select
                        City</span>
                    <span *ngIf="(country.untouched || state.untouched) && city.touched"
                        style="color: red;margin-left: 23%;">Please Select State First
                        City</span>

                </div>

            </div>

            <div class="row mb-3 d-flex">
                <label for="name" class="col-form-label fw-bold fs-5 col-3">{{ lblEmail }}</label>
                <input type="email" name="email" id="email" placeholder="Enter Email" class="col-9"
                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required ngModel #email="ngModel">
                <span *ngIf="email.touched && !email.valid" style="color: red;margin-left: 23%;">Please Enter Valid
                    Email</span>
            </div>

            <div class="row mb-3 d-flex">
                <label for="name" class="col-form-label fw-bold fs-5 col-3">{{ lblMobile }}</label>
                <input type="text" name="mobile" id="mobile" placeholder="Enter Mobile No" minlength="10" maxlength="10"
                    class="col-9" pattern="^[0-9]+$" required ngModel #mobile="ngModel" id="mobile"
                    (keydown)="noalphabet($event)" onpaste="return false;">
                <span *ngIf="mobile.touched && !mobile.valid" style="color: red;margin-left: 23%;">Please Enter Valid
                    Mobile no.</span>
            </div>

            <div class="mt-5">
                <button class="btn btn-primary" name="submit" id="submit" (click)="showing()">{{lblSubmit}}</button>
            </div>
            <span style="color: red;">{{ formErr }}</span>

        </form>
    </div>
    <div class="col-7 ">
        <table class="table text-center">
            <thead>
                <tr class="bg-dark text-white">
                    <th>Id</th>
                    <th>{{ lblFname }}</th>
                    <th>{{ lblLname }}</th>
                    <th>{{ lblgender }}</th>
                    <th>{{ lblEmail }}</th>
                    <th>{{ lblMobile }}</th>
                    <th>{{ lblcountry }}</th>
                    <th>{{ lblstate }}</th>
                    <th>{{ lblcity }}</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of userDatas ;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{ data.fname }}</td>
                    <td>{{ data.lname }}</td>
                    <td>{{ data.gender }}</td>
                    <td>{{ data.email }}</td>
                    <td>{{ data.mobile }}</td>
                    <td>{{ data.address.country }}</td>
                    <td>{{ data.address.state }}</td>
                    <td>{{ data.address.city }}</td>
                    <td><button class="btn btn-primary" (click)="pushData(data)"
                            (click)="changeCountry($event)">Edit</button></td>
                    <td><button class="btn btn-danger" (click)="deleteRec(data)">Delete</button></td>
                </tr>
                <tr class="text-center fw-bold fs-5 pt-1" *ngIf="this.userDatas.length == 0">
                    <td colspan="10" style="font-size: 50px;border: none;">No Records Found</td></tr>
            </tbody>
        </table>
    </div>
</div>
<router-outlet></router-outlet>