<h1 class="text-primary text-center m-3"> Reactive Forms With CRUD</h1>
<div class="row">
    <div class=" col-sm-5 px-5">
        <form name="form" [formGroup]="reactiveForm" (ngSubmit)="showData()">
            <div class="row mb-3 d-flex">
                <label for="name" class="col-3 col-form-label fw-bold fs-5">{{ lblFname }}</label>
                <input type="text" name="fname" class="col-sm-8 col-form-control" placeholder="Enter First Name" required minlength="2"
                    pattern="^[a-zA-Z]+$" formControlName="fname"  />
                <span *ngIf="fname && fname.touched && fname.invalid" style="color: red;margin-left: 23%;">Please Enter
                    Valid First Name</span>

            </div>
            <div class="row mb-3">
                <label for="name" class="col-3 col-form-label fw-bold fs-5">{{lblLname}}</label>
                <input type="text" name="lname" class="col-sm-8" placeholder="Enter Last Name" required minlength="2"
                    pattern="^[a-zA-Z]+$" formControlName="lname" />
                <span *ngIf="lname && lname.touched && lname.invalid" style="color: red; margin-left: 23%">Please Enter
                    Valid Last Name</span>
            </div>

            <div class="d-flex">
                <label for="gender" class="col-form-label fw-bold fs-5 col-3">Gender :</label>
                <div class="form-check my-3">
                    <a>
                        <input class="form-check-input" type="radio" name="gender" value="male" required id="male"
                            formControlName="gender" />
                        <label class="form-check-label me-3" for="male">Male</label>
                    </a>
                </div>
                <div class="form-check my-3">
                    <a>
                        <input class="form-check-input" type="radio" name="gender" value="female" required id="female"
                            formControlName="gender" />
                        <label class="form-check-label" for="female">Female</label>
                    </a>
                </div>
            </div>
            <span *ngIf="gender && gender.touched && gender.invalid" style="color: red; margin-left: 23%">Please Checked
                Gender</span>

            <div formGroupName="address">
                <div class="row mb-3 d-flex">
                    <label for="name" class="col-form-label fw-bold fs-5 col-3">{{
                        lblCountry
                        }}</label>
                    <select class="form-select col-8" aria-label="Default select example" name="country" id="country"
                        class="col-8" formControlName="country" (change)="changeCountry($event)">
                        <option selected>Select Your Country</option>
                        <!-- <option *ngFor="let country of countryList">
                            {{ country.name }}
                        </option> -->
                        <option *ngFor="let country of countryList" [value]="country.id">{{country.name}}</option>
                    </select>

                    <span *ngIf="country && country.touched && country.pristine"
                        style="color: red; margin-left: 23%">Please
                        Select Country</span>
                </div>

                <div class="row mb-3 d-flex">
                    <label for="name" class="col-form-label fw-bold fs-5 col-3">{{
                        lblState
                        }}</label>
                    <select placeholder="Phantasyland" class="form-select col-8" aria-label="Default select example"
                        name="state" id="state" class="col-8" required formControlName="state"
                        (change)="changeState($event)">
                        <option selected>Select Your State</option>
        
                        <!-- <option *ngFor="let state of states">{{ state }}</option> -->
                        <option *ngFor="let state of states" [value]="state.id">{{state.name}}</option>
                    </select>

                    <span *ngIf="state && state.touched && state.pristine" style="color: red; margin-left: 23%">Please
                        Select State</span>
                    <span *ngIf="state && country && country.untouched && state.touched"
                        style="color: red; margin-left: 23%">Please Select Country First
                    </span>
                </div>

                <div class="row mb-3 d-flex">
                    <label for="name" class="col-form-label fw-bold fs-5 col-3">{{lblCity}}</label>
                    <select placeholder="Phantasyland" class="form-select col-8" aria-label="Default select example"
                        name="city" id="city" class="col-8" required formControlName="city">
                        <option selected>Select Your City</option>

                        <!-- <option *ngFor="let city of cities">{{ city }}</option> -->
                        <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
                        
                    </select>

                    <span *ngIf="city && city.touched && city.pristine" style="color: red; margin-left: 23%">Please
                        Select
                        City</span>
                    <span *ngIf="city && country && state && (country.untouched || state.untouched) && city.touched"
                        style="color: red; margin-left: 23%">Please Select Country & State First
                    </span>
                </div>
            </div>


            <div class="row mb-3">
                <label for="date" class="col-3 col-form-label fw-bold fs-5">{{lblDate}}</label>
                <input type="date" name="date" id="date" class="col-sm-8" placeholder="Select Date" required
                    formControlName="date">
                <span *ngIf="date && date.touched && date.pristine" style="color: red; margin-left: 23%">Please Select
                    Date</span>
            </div>

            <div class="row mb-3">
                <label for="hobby" class="col-3 col-form-label fw-bold fs-5 ">{{lblHobbies}}</label>
                <div *ngFor="let hobby of hobbys">
                    <label>
                        <input type="checkbox" formArrayName="hobbies" value="{{hobby}}" (change)="hobbySelect($event)">{{hobby}}
                    </label>
                </div>
            </div>
            <!-- <p>{{reactiveForm.get('hobbies')?.value}}</p> -->

            <div class="row mb-3">
                <label for="name" class="col-3 col-form-label fw-bold fs-5">{{
                    lblEmail
                    }}</label>
                <input type="email" name="email" class="col-sm-8" placeholder="Enter Email" required
                    formControlName="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$" />
                <span *ngIf="email && email.touched && email.invalid" style="color: red; margin-left: 23%">Please Enter
                    Valid Email</span>
            </div>
            <div class="row mb-3">
                <label for="name" class="col-3 col-form-label fw-bold fs-5">{{
                    lblMobile
                    }}</label>
                <input type="text" name="mobile" class="col-sm-8" placeholder="Enter Mobile" required pattern="^[0-9]+$"
                    formControlName="mobile" (keydown)="noAlphabet($event)" maxlength="10" minlength="10" />
                <span *ngIf="mobile && mobile.touched && mobile.invalid" style="color: red; margin-left: 23%">Please
                    Enter
                    Valid Mobile no.</span>
            </div>

            <div class="form-check row d-flex m-4">
                <input type="checkbox" name="checks" id="" class="col-1 " name="checkbox" id="checkboxAgree"
                    formControlName="checkbox" style="color: black;width: 15px;">
                <label class="form-check-label" class="col-8" for="checkboxAgree">
                    I agree to <a routerLink="">Terms & Condition</a> and <a routerLink="">Privacy Policy</a>
                </label>
                <span *ngIf="checkbox && checkbox.invalid && checkbox.touched" style="color: red;">Please Checked
                    Checkbox for accept Terms & Condition</span>
            </div>
            <div class="mt-3">
                <button class="btn btn-primary ms-5" name="submit" id="submit" (click)="showData()">
                    {{ lblSubmit }}
                </button>
            </div>

        </form>


        <p class="text-center fw-bold m-2 fs-4 text-secondary">
            Reactive Form Status : {{ reactiveForm.status }}
        </p>
    </div>

    <div class="col-sm-7 mt-3">
        <table class="table table-striped  text-center">
            <thead>
                <tr class="bg-dark text-white">
                    <th>ID</th>
                    <th>{{ lblFname }}</th>
                    <th>{{ lblLname }}</th>
                    <th>{{ lblGender }}</th>
                    <th>{{ lblCountry }}</th>
                    <th>{{ lblState }}</th>
                    <th>{{ lblCity }}</th>
                    <th>{{ lblDate }}</th>
                    <th>{{ lblHobbies }}</th>
                    <th>{{ lblEmail }}</th>
                    <th>{{ lblMobile }}</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of userDatas; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ data.fname }}</td>
                    <td>{{ data.lname }}</td>
                    <td>{{ data.gender }}</td>
                    <td>{{ data.address.country }}</td>
                    <td>{{ data.address.state }}</td>
                    <td>{{ data.address.city }}</td>
                    <td>{{ data.date }}</td>
                    <td>{{ data.hobbies }}</td>
                    <td>{{ data.email }}</td>
                    <td>{{ data.mobile }}</td>
                    <td>
                        <button class="btn btn-primary" (click)="pushData(data)">Edit</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="deleteRec(i)">Delete</button>
                    </td>
                </tr>
                <tr class="text-center fw-bold fs-5 pt-1" *ngIf="this.userDatas.length == 0">
                    <td colspan="10" style="font-size: 50px; border: none">
                        No Records Found
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>